* {
    padding: 0;
    margin: 0;
}

html {
    max-width: 100%;
    max-height: 100%;
}

.background {
    background-image: linear-gradient(to bottom right, #80a4cbb4, #cce0f3b0);
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}

.head {
    background-image: linear-gradient(to top left, #9EB1D1, #96B9D9);
    max-width: 50vw;
    min-height: 85vh;
    border-radius: 50px;
    opacity: 100%;
    margin-left: 25vw;
    margin-top: 2.5vh;
    padding-bottom: 5%;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.title-description {
    padding-bottom: 20px;
}

.head h1 {
    font-family: sans-serif;
    font-size: 35px;
    padding-top: 2vh;
}

.head p {
    font-family: sans-serif;
}

.head p.reset {
    position: absolute;
    bottom: 1vw;
    right: 2vw;
}

.head-item {
    max-width: 100%;
    display: none;
    line-height: 3;
    padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
}


/* .item1,
.item2,
.item3 {
    display: flex;
} */

@media only screen and (max-width: 450px) {
    .head {
        background-image: linear-gradient(to top left, #9EB1D1, #96B9D9);
        max-width: calc(100vw - 3vw - 3vw);
        min-height: 85vh;
        border-radius: 50px;
        opacity: 100%;
        margin-left: 3vw;
        margin-top: 2.5vh;
        padding-bottom: 5%;
        text-align: center;
        position: relative;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (min-width: 451px) and (max-width: 1025px) {
    .head {
        background-image: linear-gradient(to top left, #9EB1D1, #96B9D9);
        max-width: 50vw;
        min-height: 85vh;
        border-radius: 50px;
        opacity: 100%;
        margin-left: 25vw;
        margin-top: 2.5vh;
        padding-bottom: 5%;
        text-align: center;
        position: relative;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
}